<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMADAP</title>
    <link rel="stylesheet" href="/dist/output.css" />
    <link
      rel="shortcut icon"
      href="../dist/img/logo-smadap.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <nav class="border-gray-200 bg-yellow-300">
      <div
        class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between gap-2 px-4 py-4 md:px-6 md:py-6"
      >
        <a href="/" class="flex items-center">
          <img
            src="../dist/img/logo-smadap.png"
            class="mr-3 h-8 sm:h-9"
            alt="SMAN 2 Pangkep"
          />
          <span
            class="self-center whitespace-nowrap text-lg font-extrabold text-white md:text-xl"
            >SMAN 2 Pangkep</span
          >
        </a>
        <div class="flex items-center">
          <a
            href="mailto:admin@sma2pangkep.sch.id"
            class="mr-6 text-sm font-medium text-gray-50 hover:underline"
            >admin@sma2pangkep.sch.id</a
          >
          <a href="#" class="button-login-blue">Login</a>
        </div>
      </div>
    </nav>
    <nav
      class="sticky top-0 left-0 z-[999] w-full border-b border-gray-200 bg-gray-50 px-2 py-1 sm:px-4"
    >
      <div
        class="container flex flex-wrap items-center justify-between md:px-6"
      >
        <a href="#" class="flex items-center">
          <span
            class="self-center whitespace-nowrap font-medium text-yellow-300"
            >Home</span
          >
        </a>
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="ml-3 inline-flex items-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:bg-gray-100 md:hidden"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:text-sm md:font-medium"
          >
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-yellow-300"
                aria-current="page"
                >Profile</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-yellow-300"
                >Fasilitas</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-yellow-300"
                >Pengumaman</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-yellow-300"
                >Kesiswaan</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="visi-misi" class="container">
      <div class="py-16 lg:px-4">
        <h2
          class="mb-8 text-center text-3xl font-extrabold tracking-tight text-gray-900 lg:text-4xl"
        >
          Visi Misi
        </h2>
        <div class="mx-auto max-w-3xl space-y-12">
          <div
            class="flex w-full flex-col bg-yellow-100 py-12 px-4 shadow-lg md:px-8"
          >
            <h5
              class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900"
            >
              Visi
            </h5>
            <p class="font-light text-gray-500">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, ipsa?
            </p>
          </div>
          <div
            class="flex w-full flex-col space-y-2 bg-yellow-100 py-12 px-4 shadow-lg md:px-8"
          >
            <h5
              class="text-center text-2xl font-bold tracking-tight text-gray-900"
            >
              Misi
            </h5>
            <p class="font-light text-gray-500">
              1. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ducimus quia laboriosam molestiae?
            </p>
            <p class="font-light text-gray-500">
              2. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ducimus quia laboriosam molestiae?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="sejarah">
      <div class="bg-gray-50 py-16">
        <h2
          class="mb-8 text-center text-3xl font-extrabold tracking-tight text-gray-900 lg:text-4xl"
        >
          Sejarah
        </h2>
      </div>
    </section>

    <section id="identitas" class="container">
      <div class="py-16">
        <h2
          class="mb-8 text-center text-3xl font-extrabold tracking-tight text-gray-900 lg:text-4xl"
        >
          Identitas Sekolah
        </h2>
        <div
          class="relative mx-auto max-w-3xl overflow-x-auto shadow-md sm:rounded-lg"
        >
          <table
            class="w-full text-left text-sm text-gray-500 dark:text-gray-400"
          >
            <thead
              class="bg-gray-50 text-xl uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" colspan="2" class="px-6 py-3">
                  SMAN 2 Pangkep
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
              >
                <td class="px-6 py-4">NPSN</td>
                <th
                  scope="row"
                  class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
                >
                  40300589
                </th>
              </tr>
              <tr
                class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
              >
                <td class="px-6 py-4">Alamat</td>
                <th
                  scope="row"
                  class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
                >
                  Jl. As. Dg. Kalebbu No. 2
                </th>
              </tr>
              <tr
                class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
              >
                <td class="px-6 py-4">Kecamatan</td>
                <th
                  scope="row"
                  class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
                >
                  Segeri
                </th>
              </tr>
              <tr
                class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
              >
                <td class="px-6 py-4">Email</td>
                <th
                  scope="row"
                  class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
                >
                  smanri40300589@yahoo.com
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <footer class="bg-yellow-300 px-4 py-16 sm:px-12 md:py-24">
      <div class="container mx-auto max-w-screen-xl">
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center">
              <img
                src="../dist/img/logo-smadap.png"
                class="mr-3 h-12"
                alt="Smadap Logo"
              />
              <span
                class="self-center whitespace-nowrap text-2xl font-semibold text-white"
                >SMAN 2 Pangkep</span
              >
            </a>
            <p class="max-w-md py-4 text-lg font-light text-gray-100">
              Sekolah negeri yang berada dibawah pengawasan dinas pendidikan
              Kabupaten Pangkep.
            </p>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-4 md:grid-cols-3">
            <div>
              <h2 class="mb-6 text-sm font-semibold uppercase text-gray-100">
                Website
              </h2>
              <ul class="space-y-4 text-gray-200">
                <li class="">
                  <a href="#" class="hover:underline">Home</a>
                </li>
                <li class="">
                  <a href="#" class="hover:underline">Visi Misi</a>
                </li>
                <li class="">
                  <a href="#" class="hover:underline">Fasilitas</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-6 text-sm font-semibold uppercase text-gray-100">
                Tautan
              </h2>
              <ul class="space-y-4 text-gray-200">
                <li class="">
                  <a href="#" class="hover:underline">Dinas Pendidikan</a>
                </li>
                <li class="">
                  <a href="#" class="hover:underline">KIP</a>
                </li>
                <li class="">
                  <a href="#" class="hover:underline">Dapodik</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-6 text-sm font-semibold uppercase text-gray-100">
                Sosial Media
              </h2>
              <ul class="text-gray-200">
                <li class="mb-4">
                  <a href="#" class="hover:underline">Facebook</a>
                </li>
              </ul>
            </div>
            <div class="col-span-2 py-6">
              <h2 class="mb-6 text-sm font-semibold uppercase text-gray-100">
                Alamat
              </h2>
              <ul class="text-gray-200">
                <li class="mb-4">
                  <a href="#" class="hover:underline">
                    Jl. AS. DG. Kalebbu No. 2, Kec. Segeri.
                  </a>
                </li>
                <li>
                  <a href="#" class="hover:underline"
                    >Email: admin@sma2pangkep.sc.id</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
        <div class="flex justify-center">
          <span class="text-sm text-gray-200 sm:text-center"
            >© 2023
            <a href="https://perdiDev.github.io" class="hover:underline"
              >PerdiDev</a
            >. All Rights Reserved.
          </span>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  </body>
</html>
